<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560739844292-nfmo0sohpi49b8k6kak7dr3ld2em1u6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560739844292-nfmo0sohpi49b8k6kak7dr3ld2em1u6o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>560739844292-7dk3sua0ga3d00pah2gf5p2qi2jgrq8e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCqKQQkhMrJ_2byVLgCihwDIgANlllebJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>560739844292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eevm.Rani</string>
	<key>PROJECT_ID</key>
	<string>rani-1e155</string>
	<key>STORAGE_BUCKET</key>
	<string>rani-1e155.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560739844292:ios:c0c75714b4399e9e</string>
	<key>DATABASE_URL</key>
	<string>https://rani-1e155.firebaseio.com</string>
</dict>
</plist>